﻿
@{
    ViewBag.Title = "BMI計算";
}

<h2>BMI計算</h2>
@model s1071638.ViewModel.BMIData

<form action="/BMI/Index" method="post">
    @Html.DisplayNameFor(m => m.Height)
    @Html.TextBoxFor(m => m.Height) 公分
    @Html.ValidationMessageFor(modelItem => @Model.Height)<br />

    @Html.DisplayNameFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.Weight)<br />

    <p><input type="submit" name="name" value="送出" /></p>
</form>

<p>計算結果:@Model.Result</p>
<p>等級:@Model.Level</p>
